<!-- <div class="preloader">
  <img src="assets/img/loading.gif" alt="loading"/>
</div> -->
<div class="preloader">
	<svg width="150" height="150" viewBox="0 0 80 80">
		<polyline class="line-cornered stroke-still" points="0,0 80,0 80,80" stroke-width="10" fill="none"></polyline>
		<polyline class="line-cornered stroke-still" points="0,0 0,80 80,80" stroke-width="10" fill="none"></polyline>
		<polyline class="line-cornered stroke-animation" points="0,0 80,0 80,80" stroke-width="10" fill="none">
		</polyline>
		<polyline class="line-cornered stroke-animation" points="0,0 0,80 80,80" stroke-width="10" fill="none">
		</polyline>
	</svg>
</div>

<h1>Heellllo</h1>